<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<variable name="dbConnection" value="Data Source=${basedir}/mic_data.db;" />

	<targets>
		<target xsi:type="File" name="allfile" fileName="logs/nlog-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message}" />

		<target xsi:type="Database" name="database" keepConnection="false">
			<connectionString>${var:dbConnection}</connectionString>
			<driver>Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite</driver>

			<install-command>
				<text>
					CREATE TABLE IF NOT EXISTS SystemLogs (
					Id INTEGER PRIMARY KEY AUTOINCREMENT,
					Date DATETIME NOT NULL,
					Level VARCHAR(10),
					Logger VARCHAR(100),
					Message TEXT,
					Exception TEXT
					);
					CREATE INDEX IF NOT EXISTS Idx_Log_Date ON SystemLogs(Date);
				</text>
			</install-command>
			
			<commandText>
				INSERT INTO SystemLogs (Date, Level, Logger, Message, Exception)
				VALUES (@Date, @Level, @Logger, @Message, @Exception);
			</commandText>

			<parameter name="@Date" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="allfile" />
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>